.info-section {
   background-color: var(--bg-light);
}

.info-section-container {
   width: 280px;
   max-width: 980px;
   margin: 0px auto;
   height: 100%;
}

.info-section-container p {
   font-size: 16px;
   line-height: 1.6;
}

.info-section-container:last-child {
   padding: 25px 0 40px 0;
}

.info-section-container a.main-blue {
   font-family: blue_link;
}

@media screen and (min-width: 781px) {
   .info-section-container {
      width: 980px;
      max-width: 100%;
      padding: 120px 0;
   }

   .info-section-container p {
      padding: 23px 0 40px 0;
      font-size: 28.1px;      
   }

   .info-section-container:last-child {
      font-size: 20px;
      padding: 35px 0 40px 0;
   }
}